main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #497573;
  /* background: url('./assets/cover/background-7.jpeg'); */
}

ul{
  display: flex;
  flex: row;
  justify-content: space-evenly;
}

.my-pic {
  clip-path: circle();
  width: 250px;
}

img{
  height: auto;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
